* {
  margin: 0 auto;
  padding: 0;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  background: #3c3a39;
  mix-blend-mode: normal;
}

.manu-lists {
  margin-top: 108px;
}

.seperator-img {
  margin: 15px 0 24px 0;
  width: 327px;
  height: 1px;
  background-image: url(images/toggle-sep.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.toggle-bar {
  margin: 62px 38px 0 325px;
}

.manu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
  margin: 8px 0;
  margin-bottom: 440px;
}

.manu li {
  list-style: none;
  width: 327px;
}

.manu li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fff5e0;
}

.footer-section {
  width: 375px;
  height: 57px;
  background: #e5e5e5;
}

.footer-img {
  width: 115px;
  height: 1px;
  padding-bottom: 90px;
  background-image: url(img/Shape-999.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
